@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300;400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    background-color: #E5E5E5;
    margin: auto;
    padding-bottom: 450px;
}

header {
    margin: auto;
    padding-top: 40px;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* position: absolute;
    left: 50%;
    transform: translateX(-50%); */
}

.decorator {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -10px;
    left: 0;
    z-index: -1;
}

.bk1 {
    background-image: url(./src/img/decorator1.png);
    background-repeat: no-repeat;
    width: 376px;
    height: 235px;
}

.bk2 {
    background-image: url(./src/img/decorator2.png);
    background-repeat: no-repeat;
    width: 376px;
    height: 235px;
}

.logo {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: -0.06em;
    color: #313131;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style: none;
    padding: 25px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}

.login {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    border: 0;
    color: #313131;
    background-color: transparent;
    padding-right: 35px;
}

.signup {
    width: 152px;
    height: 58px;
    background: #0AC05E;
    box-shadow: 0px 100px 80px rgba(56, 56, 56, 0.1), 0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259), 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
    border: 0;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FAFAFA;
}

.headPart {
    /* margin-top: 220px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.topTitle {
    width: 570px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 94px;
    line-height: 100%;
    color: #313131;
}

.topTitle span {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 94px;
    line-height: 100%;
    color: #0AC05E;
}

.p1 {
    margin-top: 40px;
    width: 490px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #425466;
}

.btn1 {
    margin-top: 40px;
    width: 180px;
    height: 58px;
    background: #0AC05E;
    box-shadow: 0px 100px 80px rgba(56, 56, 56, 0.1), 0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259), 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FAFAFA;
}

.btn2 {
    margin-left: 22px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #0AC05E;
    background-color: transparent;
    border: none;
}

.leftside {
    margin-top: 220px;
}

.bkheadPart {
    margin-top: 50px;
}

.rightside {
    position: relative;
    background-image: url(./src/img/Hero\ image.png);
    width: 596px;
    height: 911px;
}

.card2,
.card3 {
    width: 150px;
    height: 150px;
    background-color: #0AC05E;
    display: flex;
}

.cards {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
}

.card1 {
    width: 188px;
    height: 218px;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
}

.p3 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #313131;
    opacity: 0.96;
    padding-top: 31px;
    margin-bottom: 26px;
}

.Ellipse {
    position: absolute;
    top: -15px;
    right: -15px;
    border: 4px solid white;
    border-radius: 50%;
}

.smallcard1 {
    background: #FBFBFB;
    border-radius: 8px;
    width: 155px;
    height: 95px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p4 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #404040;
}

.p5 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FF4D4A;
}

.card2 {
    margin-top: 32px;
    width: 200px;
    height: 76px;
    background: rgb(255 255 255 / 5%);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2 img {
    margin: 12px;
}

.card3 {
    margin-left: 100px;
    width: 306.27px;
    height: 339.31px;
    background: rgb(255 255 255 / 37%);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card3top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.p6 {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #313131;
}

.p7 {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #313131;
}

.p7 span {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #666666;
}

.childgram {
    display: flex;
    flex-direction: column;
}

.childgram .line span {
    width: 236.62px;
    height: 0.89px;
    background: #EEF0F2;
}

.line {
    margin-top: 22px;
    margin-bottom: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #313131;
}

.lines {
    position: absolute;
    bottom: 58px;
    right: 34px;
    width: 213.41px;
    height: 150.9px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.lines span {
    border-radius: 20px 20px 0 0;
}

.xline-1 {
    width: 6.25px;
    height: 77.68px;
    background: #0AC05E;
}

.xline-2 {
    width: 6.25px;
    height: 46.43px;
    background: #0AC05E;
}

.xline-3 {
    width: 6.25px;
    height: 150.9px;
    background: #0AC05E;
}

.xline-4 {
    width: 6.25px;
    height: 69.65px;
    background: #0AC05E;
}

.xline-5 {
    width: 6.25px;
    height: 77.68px;
    background: #0AC05E;
}

.xline-6 {
    width: 6.25px;
    height: 112.51px;
    background: #0AC05E;
}

.xline-7 {
    width: 6.25px;
    height: 127.69px;
    background: #0AC05E;
}

.xline-8 {
    width: 6.25px;
    height: 71.43px;
    background: #0AC05E;
}

.xline-9 {
    width: 6.25px;
    height: 149.12px;
    background: #0AC05E;
}

.companies {
    margin-top: 30px;
    background: #F1F1F1;
    padding: 68px 84px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.p8 {
    margin-top: 140px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #313131;
}

.p9 {
    padding-top: 40px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #202020;
}

.p10 {
    padding-top: 16px;
    width: 270px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #425466;
}

.options {
    margin: auto;
    max-width: 1010px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.models {
    margin-top: 140px;
    position: relative;
}

.p11 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #313131;
    padding-bottom: 20px;
}

.p12 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #425466;
}

img.decorator5 {
    transform: rotate(313deg);
    float: right;
    position: absolute;
    right: 0;
}

.acc {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 184px;
}

.leftaccside {
    display: flex;
    flex-direction: row;
    background-image: url(./src/img/Ellipse\ 1328.png);
    background-repeat: no-repeat;
    background-position-y: 107px;
    background-position-x: 28px;
    background-size: 325px 182px;
}

.p13 {
    padding-top: 57px;
    padding-right: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 100%;
    text-align: center;
    color: #D7D7D7;
}

.p14 {
    /* padding-top: 36px; */
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 26.2069px;
    line-height: 39px;
    letter-spacing: -0.01em;
    color: #222831;
}

.acc_box {
    width: 325.4px;
    height: 285px;
    left: 342px;
    top: 2164px;
    background: #FFFFFF;
    border: 0.602457px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: 0px 39.0482px 28.2262px rgba(56, 56, 56, 0.0759259), 0px 23.2058px 15.3515px rgba(56, 56, 56, 0.0607407), 0px 12.0491px 7.83195px rgba(56, 56, 56, 0.05), 0px 4.90891px 3.92713px rgba(56, 56, 56, 0.0392593), 0px 1.11566px 1.89663px rgba(56, 56, 56, 0.0240741);
    text-align: center;
}

.acclines {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    padding-top: 22px;
}

span.accLine1 {
    margin: auto;
    width: 252.24px;
    height: 10.92px;
    background: #F1F1F1;
    border-radius: 65.5172px;
}

span.accLine2 {
    margin: auto;
    width: 228.22px;
    height: 10.92px;
    background: #F1F1F1;
    border-radius: 65.5172px;
}

span.accLine3 {
    margin: auto;
    width: 221.67px;
    height: 10.92px;
    background: #F1F1F1;
    border-radius: 65.5172px;
}

span.accLine4 {
    margin: auto;
    width: 228.22px;
    height: 10.92px;
    background: #F1F1F1;
    border-radius: 65.5172px;
}

.rightaccside {
    padding-top: 85px;
    width: 358px;
}

.p15 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01em;
    color: #222831;
}

.p16 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #425466;
}

.services {
    margin: auto;
    margin-top: 110px;
    display: flex;
    gap: 165px;
    justify-content: flex-end;
}

.rightservside {
    display: flex;
    padding-right: 158px;
    background-image: url(./src/img/Ellipse1329.png);
    background-repeat: no-repeat;
    background-size: 485px 162px;
    background-position: 29px 6px;
}

.p17 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01em;
    color: #222831;
}

.p18 {
    padding-top: 18px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #425466;
    width: 342px;
}

.p19 {
    margin-top: -48px;
    margin-right: 20px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 100%;
    text-align: center;
    color: #D7D7D7;
}

.search_box2 {
    position: relative;
    width: 383px;
    height: 137px;
    background: #FFFFFF;
    border: 0.827586px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: 0px 53.6398px 38.7739px rgba(56, 56, 56, 0.0759259), 0px 31.8774px 21.0881px rgba(56, 56, 56, 0.0607407), 0px 16.5517px 10.7586px rgba(56, 56, 56, 0.05), 0px 6.7433px 5.39464px rgba(56, 56, 56, 0.0392593), 0px 1.53257px 2.60536px rgba(56, 56, 56, 0.0240741);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search input {
    position: relative;
    width: 315px;
    height: 50px;
    background: #FAFAFA;
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.15);
    border: none;
    text-indent: 13px;
}

.inputimg {
    position: absolute;
    right: 32px;
    padding: 17px 30px 15px 15px;
}

.reacts {
    margin-top: 110px;
    gap: 204px;
    justify-content: center;
}

.reacts,
.leftreactsside {
    display: flex;
    flex-direction: row;
}

.p22 {
    width: 342px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #425466;
}

.p21 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -0.01em;
    color: #222831;
}

.reacts_box {
    position: relative;
    top: 17px;
    right: 13px;
    width: 300px;
    height: 114px;
    background: #FFFFFF;
    border: 0.827586px solid #F1F1F1;
    box-sizing: border-box;
    box-shadow: 0px 53.6398px 38.7739px rgba(56, 56, 56, 0.0759259), 0px 31.8774px 21.0881px rgba(56, 56, 56, 0.0607407), 0px 16.5517px 10.7586px rgba(56, 56, 56, 0.05), 0px 6.7433px 5.39464px rgba(56, 56, 56, 0.0392593), 0px 1.53257px 2.60536px rgba(56, 56, 56, 0.0240741);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.leftreactsside {
    background-image: url(./src/img/Ellipse1330.png);
    background-repeat: no-repeat;
    background-size: 406px 161px;
    background-position: 30px 2px;
    height: 400px;
}

.aboutUs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
    position: relative;
}

.p23 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #313131;
}

.p24 {
    padding-top: 30px;
    Width: 476px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #425466;
}

.btns {
    padding-top: 30px;
    display: flex;
    gap: 20px;
}

.learnMore {
    width: 180px;
    height: 58px;
    background: #0AC05E;
    box-shadow: 0px 100px 80px rgba(56, 56, 56, 0.1), 0px 64.8148px 46.8519px rgba(56, 56, 56, 0.0759259), 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FAFAFA;
    border: none;
}

.WatchVideo {
    width: 189px;
    height: 58px;
    border: solid 2px #0AC05E;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #0AC05E;
    text-align: inherit;
    text-indent: 23px;
}

.watchbox {
    position: relative;
}

img.Polygon1 {
    position: absolute;
    right: 24px;
    top: 21px;
}

.about_Rightside {
    width: 424px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.p25 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #313131;
}

.p26 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: -0.01em;
    color: #61646B;
}

.AboutBox {
    width: 192px;
    height: 161px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 50%;
    border: 2px solid #E0E0E0;
}

.aboutBox1 {
    width: 192px;
    height: 161px;
    background: #FFFFFF;
    box-shadow: 0px 38.5185px 25.4815px rgba(56, 56, 56, 0.0607407), 0px 20px 13px rgba(56, 56, 56, 0.05), 0px 8.14815px 6.51852px rgba(56, 56, 56, 0.0392593), 0px 1.85185px 3.14815px rgba(56, 56, 56, 0.0240741);
    border: none !important;
}

.a-b1,
.a-b2 {
    display: flex;
    gap: 40px;
}

span.bordi {
    height: 430px;
    border: 1px solid #7e7b7ba6;
    transform: inherit;
}

.AboutRightSide {
    display: flex;
    flex-direction: row;
    gap: 60px;
}

.decorator4 {
    position: absolute;
    right: 0;
    top: -251px;
}

.clients {
    position: relative;
    margin: auto;
    padding-top: 140px;
    text-align: center;
}

.p27 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: #313131;
}

.p28 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #425466;
    padding-top: 30px;
}

.decorator6 {
    position: absolute;
    left: 0;
    top: 84px;
}

.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.reviewsboxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    position: relative;
    margin-top: 81px;
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 101px;
    padding-bottom: 18px;
}

.reviewBox {
    width: 380px;
    height: 282px;
    left: 110px;
    top: 4246px;
    background: #FFFFFF;
    gap: 40px;
    padding: 40px 24px 26px 32px;
    z-index: 2;
    margin-top: 162px;
}

.p29 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #425466;
    padding-bottom: 24px;
}

.p30 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #313131;
}

.p31 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 100%;
    color: #425466;
}

.reviewbk {
    margin-top: 80px;
    position: absolute;
    width: 1020px;
    height: 540px;
    background: #F1F1F1;
}

.boxswitch {
    margin: auto;
    width: 120px;
    height: 66px;
    background: #FFFFFF;
    z-index: 3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-top: 31px;
}

.rightarrow {
    padding: 20px 15px;
    background: #313131;
    box-shadow: 0px 8px 15px rgba(72, 72, 138, 0.08);
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxswitch img {
    cursor: pointer;
}

.getStart {
    margin-top: 220px;
    background: #F1F1F1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 522px;
    position: relative;
}

.items {
    position: absolute;
    width: 100%;
    height: 100%;
}

.item1 {
    display: flex;
    flex-direction: column;
}

.img-1 {
    width: 276px;
    height: 138px;
    position: absolute;
    right: 0;
}

.img-2 {
    width: 411px;
    height: 281px;
    position: absolute;
    right: 0px;
}

.sub {
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.sub input {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #A5A5A5;
    width: 491px;
    height: 80px;
    text-indent: 28px;
    border: none;
}

.footerParent {
    margin: auto;
    padding-top: 134px;
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 132px;
}

footer {
    display: flex;
    flex-direction: column;
}

.p32 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #313131;
}

.p33 {
    padding-top: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #425466;
}

.p34 {
    width: 161px;
    height: 80px;
    background: #0AC05E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.p35 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    letter-spacing: -0.06em;
    color: #313131;
    padding-bottom: 18px;
}

.p37 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #313131;
    padding-bottom: 18px;
}

.p38 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #425466;
}

.Socialicons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    padding-top: 54px;
    margin-bottom: 95px;
}

.Ficon {
    width: 34px;
    height: 34px;
    background: #0AC05E;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

span.bordi2 {
    margin: auto;
    width: 1170px;
    border: 1px solid #7e7b7ba6;
}

.copyright {
    padding-top: 35px;
    margin: 0 135px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright>div {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.p40 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #425466;
}

.p41 {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #425466;
}